{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!-- bradcam_area  -->
    <div class="bradcam_area bradcam_bg_1">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="bradcam_text">
                            <h3>services</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ bradcam_area  -->

    <!-- service_area_start -->
    <div class="service_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-50">
                        <h3>We Offer</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="{% static 'img/team/recruitment.png' %}" alt="">
                        </div>
                        <h3>Recruitment</h3>
                        <p>An integral part of HR software is Recruitment Management or Applicant Tracking System. </p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="{% static 'img/team/immigration.png' %}" alt="">
                        </div>
                        <h3>Attendance Management</h3>
                        <p>Time attendance is a basic HR process affecting everyone and critical as a basic input to payroll.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="{% static 'img/team/check-out.png' %}" alt="">
                        </div>
                        <h3>Leave Management</h3>
                        <p>Reconciling employee attendance is a very crucial task for each HR manager and involves.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="{% static 'img/team/hh.png' %}" alt="">
                        </div>
                        <h3>Emplyoee Self Service</h3>
                        <p>Employees like the easy access and convenience provided by employee self-service module.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="{% static 'img/team/salary.png' %}" alt="">
                        </div>
                        <h3>Payroll Management</h3>
                        <p>Timelabs is a web based software solution which has payroll software module. </p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_service text-center">
                        <div class="service_icon">
                            <img src="{% static 'img/team/performance.png' %}" alt="">
                        </div>
                        <h3>Performance </h3>
                        <p>Measure your employees’ performance continuously and consistently to ensure.</p>
                        <a href="#" class="learn_more">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- service_area_end -->

    <div class="contact_form_quote">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6">
                    <div class="form_wrap">
                            <h3>Get Free Quote</h3>
                            <form action="#">
                                <input type="text" placeholder="Your Name" >
                                <input type="email" placeholder="Email" >
                                <textarea name="#" id="" cols="30" rows="10" placeholder="Message" ></textarea>
                                <button class="boxed-btn3">Send</button>
                            </form>
                    </div>
                </div>
                <div class="col-xl-6 offset-xl-1 col-lg-6">
                    <div class="contact_thumb">
                        <img src="{% static 'img/banner/contact_thumb.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Information_area  -->
    

    <!-- /Information_area  end -->

{% endblock %}