{% extends 'adminbase.html' %}
{% block content %}
{% load static %}

 <div class="page-wrapper" style="margin-left: 350px;padding-top: 100px;">
        <div class="content">
            <div class="row">
            <span class="user-icon">
                            {% if details.profilePicture %}                        
                            <img style="width:100px; height:100px;border-radius:50%;" src="{{details.profilePicture.url}}" alt="">
                            {% else %}
                            <img style="width:100px; height:100px;border-radius:50%;" src="{% static 'vendors/images/photo1.jpg' %}" alt="">
                            {% endif %}
        
                        </span>
                <div class="pd-20 col-sm-4 col-3">
                    <h4 class="text-blue h4">{{details.first_name}}</h4>
                </div>

            </div>
            <div class="row mt-5">
                <div class="col-lg-8 offset-lg-2">
                    <form action="/edit-profile/" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}

                        <div class="row">
                             
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name"> First Name:     </label> <br>
                                    <input type="text" name="first_name" value="{{details.user.first_name}} " >                                 
                                </div> 
                            </div>
                              <div class="col-md-6">
                                <div class="form-group">
                                    <label for="name">Last Name:     </label> <br>
                                    <input type="text" name="last_name" value="{{details.user.last_name}}" >                                 
                                </div> 
                            </div>
                         

                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="number">Contact No:     </label><br>
                                    <input type="number" name="contact" value="{{details.contact_No}}" >                    
                                </div>
                            </div>
                        
                         <div class="col-md-6">
                                <div class="form-group">
                                    <label for="date">Date of Birth:    </label>  <br>
                                    <input type="date" name="dob" value="{{details.dob |date:'Y-m-d'}}" >                  
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="date">Email:   </label> <br>
                                    <input type="email" name="email" value="{{details.user.email}}" >                             
                                </div>
                            </div>                  
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="text">Adress:  </label><br>
                                    <input type="text" name="address" value="{{details.address}}" >
                                   
                                </div>
                            </div>
                          
                        </div>
                        <div class="row">
                           <div class="col-md-6">
                                <div class="form-group">
                                    <label for="text">Change ProfilePicture:  </label><br>
                                    <input type="file" name="pic" >
                                   
                                </div>
                            </div>
                        </div>

                        <div class="m-t-20 text-center">
                            <input type="submit" value="Update" class="btn btn-primary submit-btn">
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>


 {% endblock %}