{% extends 'adminbase.html' %}
{% block content %}
{% load static %}


    <div class="main-container">
        <div class="pd-ltr-20 xs-pd-20-10">
            <div class="min-height-200px">



                <div class="card-box mb-30">
                    <div class="row">

                        <div class="pd-20 col-sm-4 col-3">
                            <h4 class="text-blue h4">Manage Employee</h4>
                        </div>
                        <div class="col-sm-7 col-9 text-right">
                            <a href="/add-employee/" class="btn btn-primary btn-rounded float-right mt-3"><i class="fa fa-plus"></i> Add Employee</a>
                        </div>

                    </div>
                    <div class="pb-20">
                        <table class="datatable table nowrap">
                            <thead>
                               <tr>
                            <th>USER ID</th>
                            <th>USER NAME</th>
                            <th>DOB</th>
                            <th>Phone No</th>
                            <th>User Type</th>
                            <th>Action</th>
                            
                          </tr>
                        </thead>
                        <tbody>
                            {% for u in users %}
                          <tr>
                            <td class="text-bold-500">{{u.user.id}}</td>
                            <td class="text-bold-500">{{u.user.first_name}} {{u.user.last_name}}</td>
                            <td>{{u.dob}}</td>
                            <td>{{u.contact_No}}</td>
                            <td>{{u.userType}}</td>
                            <td>
                                 <a href="/user-details/{{u.id}}/" class="btn btn-success text-white"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                 <a href="/edit-user/{{u.id}}/" class="btn btn-info text-white"><i class="fa fa-edit" aria-hidden="true"></i></a>
                                 <a href="/delete-user/{{u.user.id}}/" class="btn btn-danger text-white"><i class="fa fa-trash" aria-hidden="true"></i></a>
                              
                            </td>

                        </tr>
                        {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>


    </div>


{% endblock %}