{% extends 'adminbase.html' %}
{% block content %}
 <div class="page-wrapper" style="margin-left: 350px;padding-top: 100px;">
        <div class="content">
            <div class="row">

                <div class="pd-20 col-sm-4 col-3">
                    <h2 style="text-align: center;" class="text-blue h4">Successfully Submitted!!</h2>
                </div>
            </div><br><br><br><br><br><br>
                <div class="m-t-20 text-center">
                     <a href="/profile/" class="btn btn-primary submit-btn">Ok</a>
                 
             </div>
        </div>
  </div>
  {% endblock %}