{% extends 'adminbase.html' %}
{% block content %}
{% load static %}
<!-- Hoverable rows start -->
<div class="page-wrapper" style="margin-left: 350px;padding-top: 100px;">
  <div class="row" id="table-hover-row">
    <div class="col-12">
      <div class="card">

        <div class="card-content">
          <div class="card-body">

          </div>
          <!-- table hover -->
          <div class="table-responsive">
            <table class="table table-hover mb-0">
              <thead>
                <tr>
                  <th>USER ID</th>
                  <th>USER NAME</th>
                  <th>CONTACT NO</th>
                  <th>TASK</th>
                  <th>STATUS</th>
                  <th>ASSIGN BY</th>
                  <th>ASSIGN DATE</th>
                </tr>
              </thead>
              <tbody>
                {% for u in users %}
                <tr>
                  <td class="text-bold-500">{{u.user.id}}</td>
                  <td class="text-bold-500">{{u.name}}</td>
                  <td>{{u.contact_No}}</td>
                  <td>{{u.task}}</td>
                  <td>{{u.status}}</td>
                  <td>{{u.assignby}}</td>
                  <td>{{u.date}}</td>
                  <td>
                    <a href="/delete-timesheet/{{u.user.id}}/" class="btn btn-danger text-white"><i class="fa fa-trash"
                        aria-hidden="true"></i></a>

                  </td>

                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
{% endblock %}